
.column {
    top: 150px;
}

#button-color {
    background-color: #db9833;
}

#button-color:hover {
    background-color: #DFA045;
}

#nav {
    background-color: #db9833;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
    animation: mymove 5s infinite;
}
  
.grid-item {
    border: 1px solid #db9833;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: #FFFFFF;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow:  #db9833 1px 1px 1px 2px;
    margin-top: 15px;
}

.grid-item:hover {
    background-color: #db9833;
}

#new {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    animation: none;
    margin-top: 40px
}

.show-card {
    background-color: white;
    width: 400px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow:  #db9833 1px 1px 1px 3px;
    margin-top: 50px;
}

@keyframes mymove {
    50% {box-shadow: 1px 1px 30px 10px #fff3b0;}
}

div.ui.segment {
    box-shadow:  #db9833 2px 2px 2px 3px;
    animation: mymove 5s infinite;
}

.btn {
    background-color: #db9833;
}

.btn:hover {
    background-color: #DFA045;
    cursor: pointer;
}

.bg {
    background-color: #2a6592d0;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

.cont {
    margin-top: 50px;
    margin-bottom: 50px;
}
